doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title User information
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    body 
        section.nav-section
            include includes/nav.pug
        section.main-section
            p 상품 주문 정보
            table
                thead 
                    tr 
                        th id
                        th order_id
                        th item_id
                        th item_name
                tbody
                    for row in orderItemData 
                        tr 
                            td #{row.Id}
                            td 
                                a(href=`/orders/order-info/${row.OrderId}`) #{row.OrderId}
                            td #{row.ItemId}
                            td #{row.ItemName}